### Q1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
1. * 
2. 'hello'
3. -87.8
4. - 
5. / 
6. +
7. 6 
----------------------------------------------------------------------------
### Answer
#### Values
1. 'hello'
2. -87.8
3. 6

#### Expressions
1. *
2. -
3. /
4. +

### Q2. What is the difference between string and variable?
----------------------------------------------------------------------------
### Answer

#### String
String is a datatype made of charecters. For an example "Rahul" is a string.
String can be written within '' and "".

#### Variable
Variables are used to store different datatypes. Example
- MyVariable = "Rahul" (String)
- myvariable = 1 (Integer)

In [23]:
#as you can see 
#myvariable is a variable
#"Projesh" is the string
#now myvariable has a datatype which is string

myvariable = "Projesh"
print(myvariable)
print(type(myvariable))

Projesh
<class 'str'>

### Q3. Describe three different data types.
----------------------------------------------------------------------------
### Answer
The three main data types are following-

1. String is used to for charecters. Example - "Rahul",'Projesh'
2. Integer is used for numerical values. Example - 1,2,3
3. Float is used for decimal values. Example - 3.14, 4.186

In [21]:
#string
mystring = 'Projesh'
print(mystring)
print(type(mystring))

#Integer
myinteger = 1
print(myinteger)
print(type(myinteger))

#float
myfloat = 3.14
print(myfloat)
print(type(myfloat))

Projesh
<class 'str'>
1
<class 'int'>
3.14
<class 'float'>

### Q4. What is an expression made up of? What do all expressions do?
----------------------------------------------------------------------------
### Answer
An expression is made up of one or more values, operators, and/or function when evaluated, produce a resulting value. 
- Expressions can be as simple as a single value or 
- as complex as a combination of multiple values and operations.

Here are some components commonly found in expressions:

- Values: these are reffering to numbers and strings
- Operators: 
    1. Common operators include arithmetic operators (such as +, -, *, /),
    2. comparison operators (such as ==, >, <), 
    3. logical operators (such as and, or, not), and 
    4. assignment operators (such as =).
- Function calls: Expressions can be used inside a function to simplify the expression itself.

In [28]:
result = (2+3)*5
result

#as you can see 2,3,5 are values
#+ and * are arithmetic operators
#which help to calculate the expresion and 
#store the answer in result variable

25

### Q5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?
----------------------------------------------------------------------------
### Answer
- Expression is a combination of values and operators which gives an answer and stores it in a variable
- Statment helps in assigning values to variables and can be used in loops as well

In [29]:
#expression
Total = 2+2
print(Total)

#Statement
Spam = 10
print(Spam)

4
10

### Q6. After running the following code, what does the variable bacon contain?
- bacon = 22
- bacon + 1
----------------------------------------------------------------------------
### Answer

In [2]:
bacon = 22
bacon + 1

23

### Q7. What should the values of the following two terms be?
- 'spam' + 'spamspam'
- 'spam' * 3
----------------------------------------------------------------------------
### Answer

In [6]:
'spam' + 'spamspam'

'spamspamspam'

In [7]:
'spam' * 3

'spamspamspam'

### Q8. Why is eggs a valid variable name while 100 is invalid?
----------------------------------------------------------------------------
### Answer

- The reason being eggs start with a letter which is acceptable while naming a variable.
- While 100 starts with a number and you cannot name a variable starting with digits

In [13]:
eggs = 1
print(eggs)

1

In [15]:
100 = "Rahul"
print(100)

SyntaxError: cannot assign to literal (715364942.py, line 1)

### Q9. What three functions can be used to get the integer, floating-point number, or string version of a value?
----------------------------------------------------------------------------
### Answer

In [43]:
#assigning a variable
myvalue = '20'
print(myvalue)
print(type(myvalue))

#as you can see myvalue is a string datatype

20
<class 'str'>

In [44]:
#changing myvalue to integer
myvalue = int(myvalue)
print(myvalue)
print(type(myvalue))

#now as you can see myvalue has been changed from string to integer

20
<class 'int'>

In [46]:
#changing myvalue to float
myvalue = float(myvalue)
print(myvalue)
print(type(myvalue))

#now as you can see myvalue has been changed from integer to float

20.0
<class 'float'>

In [48]:
#changing myvalue back to string
myvalue = str(myvalue)
print(myvalue)
print(type(myvalue))

#now as you can see myvalue has been changed from float to string again

20.0
<class 'str'>

### Q10. Why does this expression cause an error? How can you fix it?
- 'I have eaten ' + 99 + ' burritos.'
----------------------------------------------------------------------------
### Answer
- Here 'I have eaten' and 'burritos' are strings. you cannot concatenate strings with integers in python.
-  To fix this we need to write 99 with quotes as well, which will conver 99 from integer to a string.

In [26]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'